langchain
langchain-openai
langchain-core
streamlit
python-dotenv
langchain-community
langserve
fastapi
uvicorn
sse_starlette
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
langchainhub
beautifulsoup4
cassio
groq
langchain-groq
